[submodule "DiligentCore"]
	path = DiligentCore
	url = https://github.com/daktronics/DiligentCore.git
[submodule "DiligentTools"]
	path = DiligentTools
	url = https://github.com/daktronics/DiligentTools.git
[submodule "DiligentSamples"]
	path = DiligentSamples
	url = https://github.com/daktronics/DiligentSamples.git
[submodule "DiligentFX"]
	path = DiligentFX
	url = https://github.com/daktronics/DiligentFX.git
